$font-stack: Mountains of Christmas
$wish-color-text: #c84257
	
.App
  text-align: center

  /* background-color: black;

@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas')

.snow
  position: absolute
  z-index: 100
  width: 100%
  height: 100%

.trees
  display: grid
  grid-template-rows: 55% 1fr 10%
  grid-template-columns: 1fr 1fr 1fr
  background: url(../../assets/shutterstock.svg) repeat-x
  position: relative
  width: 100%
  height: 75vh

.merry
  color: $wish-color-text
  font-family: $font-stack
  text-align: center
  grid-row: 1
  grid-column: 1/4
  align-self: center
  justify-self: center
  font-size: 5rem

.wishFrom
  color: $wish-color-text
  font-family: $font-stack
  text-align: center
  grid-row: 2
  grid-column: 2
  align-self: center
  justify-self: center
  font-size: 2rem
  

.snowman
  grid-column: 3
  grid-row: 2
  align-self: end
  justify-self: start
  position: relative

.tree
  align-self: end
  justify-self: end
  grid-column: 1
  grid-row: 2

.candles
	align-self: end
	justify-self: center
	grid-column: 2
	grid-row: 3
