@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas");
.App {
  text-align: center;
  /* background-color: black; */
}

.snow {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.trees {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 67% 1fr 10%;
      grid-template-rows: 67% 1fr 10%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  background: url(../../assets/shutterstock.svg) repeat-x;
  position: relative;
  width: 100%;
  height: 75vh;
}

@media screen and (device-width: 360px) and (orientation: portrait) {
  .trees {
    -ms-grid-rows: 23% 35% 7%;
        grid-template-rows: 23% 35% 7%;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 375px) {
  .trees {
    -ms-grid-rows: 18% 29% 5%;
        grid-template-rows: 18% 29% 5%;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 414px) and (orientation: portrait) {
  .trees {
    -ms-grid-rows: 25% 28% 10%;
        grid-template-rows: 25% 28% 10%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 768px) {
  .trees {
    -ms-grid-rows: 33% 41% 10%;
        grid-template-rows: 33% 41% 10%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .trees {
    -ms-grid-rows: 33% 41% 10%;
        grid-template-rows: 33% 41% 10%;
  }
}

.merry {
  color: #c84257;
  font-family: Mountains of Christmas;
  text-align: center;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 5rem;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 414px) and (orientation: portrait) {
  .merry {
    font-size: 2rem;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 375px) {
  .merry {
    font-size: 2rem;
  }
}

@media screen and (device-width: 360px) and (orientation: portrait) {
  .merry {
    font-size: 2rem;
  }
}

.wishFrom {
  color: #c84257;
  font-family: Mountains of Christmas;
  text-align: center;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 2rem;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 414px) and (orientation: portrait) {
  .wishFrom {
    font-size: 1rem;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 375px) {
  .wishFrom {
    font-size: 1rem;
  }
}

@media screen and (device-width: 360px) and (orientation: portrait) {
  .wishFrom {
    font-size: 1rem;
  }
}

.snowman {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: start;
      justify-self: start;
  position: relative;
}

.Snowman {
  width: 15.625em;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 414px) and (orientation: portrait) {
  .Snowman {
    width: 130px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 375px) {
  .Snowman {
    width: 125px;
  }
}

@media screen and (device-width: 360px) and (orientation: portrait) {
  .Snowman {
    width: 117px;
  }
}

.tree {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.Tree {
  width: 12.5em;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 414px) and (orientation: portrait) {
  .Tree {
    width: 115px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 375px) {
  .Tree {
    width: 115px;
  }
}

@media screen and (device-width: 360px) and (orientation: portrait) {
  .Tree {
    width: 100px;
  }
}

.candles {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

.Candles {
  width: 12.5em;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 414px) and (orientation: portrait) {
  .Candles {
    width: 100px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 375px) {
  .Candles {
    width: 100px;
  }
}

@media screen and (device-width: 360px) and (orientation: portrait) {
  .Candles {
    width: 110px;
  }
}
/*# sourceMappingURL=Main.css.map */